<!DOCTYPE html>
<html>
    <head>
            <link href="https://fonts.googleapis.com/css?family=work+sans:300">
            <link href="../css/styles.css" rel="stylesheet" type="text/css">
            <meta charset="UTF-8">
            <title>EconomyPlus</title>
            <link rel="icon" href="../assets/page_icon.gif">
    </head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
    <header>
    <div class="container">
    <img src="../assets/EconomyPlus.png" alt="logo" class="logo">
    <h1 class="header"></h1>
    <div id="navbar">
    <a class="active" href="home.html">Home</a>
INSERT
    <a href="https://www.planetminecraft.com/data-pack/economyplus-plugin-claims/" target="_blank">Claim</a>
    <div class="navbar-right">
    <a href="../Core/export.html">Import/Export</a>

    </div>
    </div>
    </div>
    </header>
INSERT
    </body>
</html>